*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  /* outline: 0.1rem solid red; */
}

body * {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

body,
[popover]:not(.nss-fullscreen-popover) {
  background-image: linear-gradient(90deg, #003300 25%, #663399 100%);
  color: #ffd324;
}

html:has([popover]:popover-open) {
  overflow: hidden;
}

#title:is([data-title="launcher"])::after {
  content: "Novi Sad Session Setlist";
}

#title:is([data-title="playalong"])::after {
  content: "Session Tunes Play Along";
}

#title-encoder:is([data-title="encoder"])::after {
  content: "N.S.S.S. ABC Encoder";
}

#title:is([data-title="setlist"])::after,
#title:is([data-title="tunelist"])::after {
  content: "";
}

.container {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  /* min-height: 3.01rem; */
}

h2 {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

a,
.nss-option-btn {
  color: #ffd324;
}

a:not([class*="nss-link-filled"]):is(:hover, :active, :focus, :focus-visible),
a:not([class*="nss-link-filled"]):is(:hover, :active, :focus, :focus-visible) > *,
.nss-option-btn:is(:hover, :focus, :focus-visible) {
  color: #ff6699;
}

#fullscreenbutton {
  position: absolute;
  top: -0.65rem;
  right: -0.65rem;
  padding: 0.625em 1.25em;
  background-color: #ff6d9d;
  color: black;
  border: 0.125rem solid #ffd324;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

#fullscreenbutton:is(:hover, :focus, :focus-visible) {
  background-image: linear-gradient(to right, #ff6f9f, #ffd324);
  border: 0.125rem solid #ff6699;
}

select {
  color: black;
  font-size: 1.1rem;
  padding: 0.33em;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  width: 15.75rem;
  height: 2.5rem;
  border-radius: 0.33rem;
}

.nss-select-options {
  width: 10rem;
}

iframe {
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.nss-footer-tunebook {
  position: relative;
  font-size: 1.25rem;
  height: 3.65rem;
  padding: 0 0.5rem;
}

.nss-footer-launch {
  width: 100%;
  position: absolute;
  padding: 0 1.75rem;
  bottom: 1.25rem;
  left: 0;
}

a, 
iframe {
  border-radius: 0.25rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:focus-visible,
iframe:focus-visible,
select:is(:focus, :focus-visible),
input:is(:focus-visible) + span,
#fullscreenbutton:is(:focus, :focus-visible) {
  outline: 0.2rem solid #ffd324;
}

a:not([class*="nss-icon-container"]):not([class*="nss-footer-link"]):focus-visible {
  outline-offset: 0.12rem;
}

.nss-subhead-link {
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.22rem;
}

.nss-subhead-link:is(:hover, :active, :focus, :focus-visible) {
  outline: none;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.24rem;
  text-decoration-color: #ff6699;
}

.nss-footer-link {
  height: 100%;
  font-weight: bold;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.12rem;
  text-underline-offset: 0.14rem;
}

#fullscreenbutton:is(:hover, :focus, :focus-visible){ 
  outline-offset: 0.05rem;
}

iframe:focus-visible {
  outline-offset: -0.15rem;
}

input:is([name="nss-radio-view"]) {
  appearance: none;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

label:is([class*="radio-wrapper"]) {
  color: #ff6699;
  cursor: pointer;
  height: 100%;
}

label:is([class*="radio-wrapper"]) span {
  gap: 1rem;
}

label:is([class*="radio-wrapper"]) span,
.nss-footer-link {
  height: 100%;
  padding: 0 1.05rem;
  outline-offset: -0.5rem;
  border-radius: 0.85rem;
}

input:is(:focus-visible) {
  outline: none;
}

input:is([name="nss-radio-view"]):checked + span {
  color: #ffd324;
}

input:is([name="nss-radio-view"]):checked + span .nss-icon-hide {
  display: none;
}

.nss-icon-show {
  display: none;
}

input:is([name="nss-radio-view"]):checked + span .nss-icon-show {
  display: block;
}

.nss-btn {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  outline-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nss-switch-btn,
.nss-link-filled {
  font-size: 2rem;
  background-color: #ffd324;
}

.nss-switch-btn > *,
.nss-link-filled {
  color: #663399;
  stroke: black;
  stroke-width: 0.2px;
}

.nss-link-btn,
.nss-link-btn a,
.nss-option-btn,
.nss-switch-btn,
.nss-btn-x {
  border-radius: 50%;
  opacity: 0.9;
}

.nss-link-btn,
.nss-option-btn,
.nss-switch-btn {
  width: 3.25rem;
  height: 3.25rem;
}

.nss-btn-abcraw {
  width: 3rem;
  height: 3rem;
}

.nss-btn-x {
  font-size: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  color: #ff6d9d;
}

.nss-btn-x::after {
  content: "\00d7";
  padding-bottom: 0.35rem;
}

.footer-btn-x {
  top: 0.05rem;
}

.nss-link-btn a:is(:hover, :focus, :focus-visible),
.nss-switch-btn:is(:hover, :focus, :focus-visible),
.nss-option-btn:is(:hover, :focus, :focus-visible),
.nss-btn-launch:is(:hover, :focus, :focus-visible),
.nss-btn-x:is(:hover, :focus, :focus-visible) {
  outline: 0.2rem solid #ffd324;
  opacity: 1;
}

.nss-btn-abcraw a:is(:hover, :focus, :focus-visible) {
  outline: 0.24rem solid #ffd324;
  outline-offset: 0.4rem;
}

.nss-option-btn:is(:hover, :focus, :focus-visible) {
  outline: none;
}

.nss-switch-btn:is(:hover, :focus, :focus-visible),
.nss-btn-launch:is(:hover, :focus, :focus-visible),
.nss-link-filled:is(:hover, :focus, :focus-visible) {
  background-image: linear-gradient(to right, #ff4a86, #ffae00);
}

.nss-switch-container,
.nss-abclink-container,
.nss-switch-btn,
.nss-icon-container {
  border-radius: 50%;
}

.nss-switch-container,
.nss-abclink-container {
  position: absolute;
  top: 1.75rem;
}

.nss-switch-container {
  left: 1.75rem;
}

.nss-abclink-container {
  right: 1.75rem;
}

.nss-icon,
.nss-icon-container {
  width: 100%;
  height: 100%;
}

.nss-switch-icon {
  width: 2.45rem;
  height: 2.45rem;
}

.nss-switch-icon:is([data-icon="launch"]),
.nss-link-filled > * {
  width: 70%;
  height: 70%;
}

.nss-footer-icon {
  width: 2rem;
  height: 2rem;
}

.nss-footer-tunebook > .nss-btn {
  width: 2.75rem;
  height: 2.75rem;
}

.nss-launch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nss-launch-container {
  width: calc(100vw - 3.5rem);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.9rem;
  gap: 1rem;
}

.nss-launch-container,
.nss-btn-text {
  flex-flow: column;
}

.nss-btn-launch {
  width: 18rem;
  height: 7rem;
  flex-grow: 0;
  font-size: 1.4rem;
  background-color: #ffd324;
  border-radius: 0.5rem;
  display: flex;
}

.nss-btn-text .nss-icon-container > * {
  width: 2.25rem;
  height: 2.25rem;
}

.nss-btn-launch .nss-btn-text {
  gap: 0.35em;
}

.nss-select-container {
  flex-flow: row wrap;
  gap: 0.75rem;
}

.nss-select-container * {
  font-family: 'Arial', sans-serif;
}

.nss-playalong-container {
  display: flex;
  width: clamp(25%, 45rem, 80%);
  flex-flow: column wrap;
  margin-top: 3.25rem;
  margin-bottom: 2.25rem;
  gap: 2.25rem;
}

.nss-playalong-container img {
  width: 100%;
}

.nss-playalong-link-container {
  position: relative;
}

.nss-playalong-link-container::after{
  content: '';
  position: absolute;
  inset: 0;
  margin: -0.25rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(90deg, #ffd324 25%, #ff6699 100%);
  z-index: -1;
}

.nss-playalong-link-container a {
  display: block;
  color: #f0f0f0;
}

.nss-playalong-link-container a:is(:hover, :active, :focus, :focus-visible) {
  outline: 0.25rem solid #ffd324;
  outline-offset: unset;
}

.nss-playalong-link-container a:is(:hover, :active, :focus, :focus-visible) > * {
  color: #ffd324;
}

.nss-playalong-img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, transparent 33%);
  width: 100%;
  height: 100%;
  text-align: left;
}

.nss-playalong-img-overlay h2 {
  font-size: 2.5rem;
  margin: 0.2rem 0.52rem;
}

.nss-playalong-container img,
.nss-playalong-img-overlay {
  border-radius: 0.25rem;
}

.flex-wrapper:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper:not([hidden]) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link-wrapper {
  width: calc(100% - 5.5rem);
  height: 100%;
}

.nss-footer-tunebook .footer-link-wrapper {
  justify-content: space-evenly;
}

.nss-fullscreen-popover {
  width: 100vw;
  height: 100vh;
  background-color: white;
  border: none;
  outline: none;
}

.nss-fs-popover-body {
  margin: 2.25rem;
  white-space: pre;
  text-align: left;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
}

.nss-fs-popover-title h2 {
  font-weight: bold;
  text-align: center;
}

.fs-popover-btn-x {
  color: black;
}

.fs-popover-btn-x:is(:hover, :focus, :focus-visible) {
  outline-color: black;
}

.nss-popover {
  padding: 1em;
  width: min(calc(80svw - 3.7rem), 40rem);
  height: calc(80svh - 3rem);
  border-radius: 1.5rem;
  border: 0.3rem solid #ffd324;
}

.nss-popover-header h2 {
  font-size: 2rem;
  margin: 1rem;
}

.nss-header-x-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nss-popover-body {
  margin: 2rem 5rem;
}

.nss-checkbox-container {
  display: flex;
  flex-flow: column;
  gap: 1.9rem;
}

.nss-checkbox-label {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}

.nss-checkbox-label,
.nss-checkbox-btn {
  cursor: pointer;
}

input[type="checkbox"]:focus-visible {
  outline: 0.15rem solid #ffd324;
  outline-style: solid;
  outline-offset: 0.25rem;
  border-radius: 0.25rem;
}

.nss-checkbox-btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.12rem solid #ffd324;
  border-radius: 0.26rem;
  background-image: linear-gradient(90deg, #ffd324 25%, #ff6699 100%);
  font: inherit;
  font-weight: bold;
  color: #003300;
  align-items: center;
  margin-right: 0.13rem;
  margin-left: 0.8rem;
  transform: translateY(-0.12rem);
}

.nss-checkbox-btn::before {
  content:"\2714";
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.nss-checkbox-btn:checked::before {
  opacity: 1;
}

/* Media queries */

/* @media screen and (max-width: 1120px) { */
@media screen and (max-width: 70em) {

  .nss-footer-tunebook .footer-link-wrapper {
    justify-content: space-around;
  }
}

/* @media screen (max-width: 858px) { */
@media screen and (max-width: 53.625em) {
  
  h1 {
    font-size: 2.8rem;
  }

  #title:is([data-title="launcher"])::after {
    content: "N.S.S.S.";
  }

  #title:is([data-title="playalong"])::after {
    content: "Play Along";
  }

  #title-encoder:is([data-title="encoder"])::after {
    content: "ABC Encoder";
  }

  /* #filterOptions {
    display: none;
  }

  #displayOptions {
    display: none;
  } */
}

/* @media screen and (max-height: 640px),
       screen and (max-width: 860px) { */
@media screen and (max-height: 40em),
       screen and (max-width: 53.75em) {

  .nss-popover {
    width: 100svw;
    height: 100svh;
    border-radius: 0;
  }

  .nss-popover-header h2 {
    font-size: 3.5rem;
    margin-top: 1.5rem;
  }

  .nss-popover-body {
    margin: 5rem 2rem 5rem 5rem;
  }

  .nss-checkbox-container {
    gap: 3.75rem;
  }

  .nss-checkbox-label {
    font-size: 1.9rem;
    gap: 2.5rem;
  }

  .nss-btn-x {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }

  .nss-checkbox-btn {
    width: 1.9rem;
    height: 1.9rem;
  }
}

/* @media screen and (max-height: 960px) and (max-width: 860px) { */
@media screen and ((max-height: 60em) and (max-width: 53.75em)) {

  .nss-launch {
    position: unset;
    transform: unset;
  }

  .nss-footer-launch {
    position: unset;
    margin: 1.75rem 0 1.5rem;
  }
}

/* @media screen and (max-width: 860px) and (min-height: 860px) { */
@media screen and (max-width: 53.75em) and (min-height: 53.75em) {

  h1 {
    margin-top: 2.45rem;
  }
  
  .nss-link-btn,
  .nss-launcher-link,
  .nss-option-btn,
  .nss-playalong-el > .nss-switch-btn {
    width: 5rem;
    height: 5rem;
  }

  .nss-btn-launch {
    width: 70%;
    height: 14rem;
    font-size: 3rem;
    border-radius: 1rem;
  }

  .nss-launch-container {
    gap: 2rem;
  }

  .nss-playalong-container {
    gap: 4rem;
  }

  .nss-btn-text .nss-icon-container > * {
    width: 4rem;
    height: 4rem;
  }

  .nss-btn-launch:is(:hover, :focus, :focus-visible),
  .nss-btn-x:is(:hover, :focus, :focus-visible) {
    outline: 0.3rem solid #ffd324;
  }

  .fs-popover-btn-x:is(:hover, :focus, :focus-visible) {
    outline-color: black;
  }
}

/* Style overrides */

@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .nss-gradient-text {
    background: linear-gradient(to right, #ffd324 30%, #ff6699);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@supports (background-clip: text) {
  .nss-gradient-text {
    background: linear-gradient(to right, #ffd324 30%, #ff6699);
    background-clip: text;
    color: transparent;
  }
}