@supports not selector(:popover-open) {
  [popover]:not(.\:popover-open) {
    display: none;
  }
}

body {
  --accent-color: #ffd324;
  --accent-color-contrast: #ffae00;
  --accent-color-alt: #ff6699;
  --accent-color-alt-contrast: #ff4a86;
  --accent-color-alt-light: #ff6d9d;
  --accent-color-alt-lighter: #ff6f9f;
  --gradient-color-left: #003300;
  --gradient-color-right: #663399;
  --notification-color-success: #d6ff08;
  --notification-color-warning: #ffb006;
  --notification-color-error: #ff2c0b;
}

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  /* outline: 0.1rem solid red; */
}

body * {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

body,
[popover] {
  background-image: linear-gradient(90deg, var(--gradient-color-left) 25%, var(--gradient-color-right) 100%);
  color: var(--accent-color);
}

.body-container {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.nss-header:not([hidden]) {
  display: flex;
  align-items: center;
}

.nss-header-app {
  padding: 1.5em;
  justify-content: space-between;
  overflow-y: hidden;
}

.nss-header-tunebook {
  padding: 1rem 1.5rem 0;
  justify-content: center;
  min-width: calc(53.75rem - 3rem);
}

.nss-header-vertical-container {
  display: flex;
  flex-flow: column;
}

.title-wrapper {
  width: calc(100svw - 10rem);
}

h1 {
  font-size: 3.25rem;
  margin: 0;

  @media (max-width: 50rem) {

    &:is([data-title="launcher"])::after {
      content: "N.S.S.S.";
    }
  
    &:is([data-title="playalong"])::after {
      content: "Play Along";
    }
  
    &:is([data-title="encoder"])::after {
      content: "ABC Encoder";
    }
  }
}

h1:is([data-title="launcher"])::after {
  content: "Novi Sad Session Setlist";
}

h1:is([data-title="playalong"])::after {
  content: "Session Tunes Play Along";
}

h1:is([data-title="encoder"])::after {
  content: "N.S.S.S. ABC Encoder";
}

h1:is([data-title="setlist"])::after,
h1:is([data-title="tunelist"])::after {
  content: "";
}

.nss-tunebook-title {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

a,
.nss-option-btn {
  color: var(--accent-color);
}

a:not([class*="nss-link-filled"]):is(:hover, :active, :focus, :focus-visible),
a:not([class*="nss-link-filled"]):is(:hover, :active, :focus, :focus-visible) > *,
.nss-option-btn:is(:hover, :focus, :focus-visible) {
  color: var(--accent-color-alt);
}

#fullScreenButton {
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
  padding: 0.625em 1.25em;
  background-color: var(--accent-color-alt-light);
  color: black;
  border: 0.125rem solid var(--accent-color);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

#fullScreenButton:is(:hover, :focus, :focus-visible) {
  background-image: linear-gradient(to right, var(--accent-color-alt-lighter), var(--accent-color));
  border: 0.125rem solid var(--accent-color-alt);
}

select {
  color: black;
  font-size: 1.1rem;
  padding: 0.33em;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  width: 15.75rem;
  height: 2.5rem;
  border-radius: 0.33rem;
}

.nss-select-options {
  width: 10rem;
}

iframe {
  border: 1px solid #ccc;
  background-color: #ffffff;
  min-width: 53.75rem;
}

/*.iframe-container {
  width: 100svw;
}*/

.nss-footer-tunebook {
  position: relative;
  font-size: 1.25rem;
  height: 3.65rem;
  padding: 0 0.5rem;
  min-width: 53.75rem;
}

.nss-footer-launch {
  width: 100%;
  position: fixed;
  padding: 0 1.5rem;
  bottom: 1.25rem;
  left: 0;
}

a, 
iframe {
  border-radius: 0.25rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:focus-visible,
iframe:focus-visible,
select:is(:focus, :focus-visible),
input:is(:focus-visible) + span,
#fullScreenButton:is(:focus, :focus-visible) {
  outline: 0.2rem solid var(--accent-color);
}

a:not([class*="nss-icon-container"]):not([class*="nss-footer-link"]):focus-visible {
  outline-offset: 0.12rem;
}

.nss-subhead-link {
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.22rem;
}

.nss-subhead-link:is(:hover, :active, :focus, :focus-visible) {
  outline: none;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.24rem;
  text-decoration-color: var(--accent-color-alt);
}

.nss-footer-link {
  height: 100%;
  font-weight: bold;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.12rem;
  text-underline-offset: 0.14rem;
}

#fullScreenButton:is(:hover, :focus, :focus-visible){ 
  outline-offset: 0.05rem;
}

iframe:focus-visible {
  outline-offset: -0.15rem;
}

input:is([name="nss-radio-view"]) {
  appearance: none;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

label:is([class*="radio-wrapper"]) {
  color: var(--accent-color-alt);
  cursor: pointer;
  height: 100%;
}

label:is([class*="radio-wrapper"]) span {
  gap: 1rem;
}

label:is([class*="radio-wrapper"]) span,
.nss-footer-link {
  height: 100%;
  padding: 0 1.05rem;
  outline-offset: -0.5rem;
  border-radius: 0.85rem;
}

input:is(:focus-visible) {
  outline: none;
}

input:is([name="nss-radio-view"]):checked + span {
  color: var(--accent-color);
}

input:is([name="nss-radio-view"]):checked + span .nss-icon-hide {
  display: none;
}

.nss-icon-show {
  display: none;
}

input:is([name="nss-radio-view"]):checked + span .nss-icon-show {
  display: block;
}

option:is([disabled]) {
  display: none;
}

.nss-btn {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  outline-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nss-switch-btn,
.nss-link-filled {
  font-size: 2rem;
  background-color: var(--accent-color);
}

.nss-switch-btn > *,
.nss-link-filled {
  color: var(--gradient-color-right);
  stroke: black;
  stroke-width: 0.2px;
}

.nss-link-btn,
.nss-link-btn a,
.nss-option-btn,
.nss-switch-btn,
.nss-theme-btn,
.nss-control-btn,
.nss-btn-x {
  border-radius: 50%;
  opacity: 0.9;
}

.nss-link-btn,
.nss-option-btn,
.nss-switch-btn {
  width: 3.25rem;
  height: 3.25rem;
}

.nss-btn-abcraw {
  width: 3rem;
  height: 3rem;
}

.nss-control-btn:not(.nss-btn-plus) {
  outline-offset: 0.25rem;
}

.nss-theme-btn {
  outline-offset: 0.33rem;
}

.nss-btn-x,
.nss-btn-plus,
.nss-control-btn {
  font-size: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  color: var(--accent-color-alt-light);
}

.nss-btn-plus::after,
.nss-btn-x::after {
  content: "\00d7";
  padding-bottom: 0.35rem;
}

.nss-btn-plus::after {
  transform: rotate(45deg) scale(0.9);
}

.nss-btn-plus[data-state="filled"] {
  color: var(--notification-color-success);
  opacity: 1;
}

.footer-btn-x {
  top: 0.05rem;
}

.nss-link-btn a:is(:hover, :focus, :focus-visible),
.nss-switch-btn:is(:hover, :focus, :focus-visible),
.nss-option-btn:is(:hover, :focus, :focus-visible),
.nss-btn-launch:is(:hover, :focus, :focus-visible),
.nss-btn-plus:is(:hover, :focus, :focus-visible),
.nss-btn-x:is(:hover, :focus, :focus-visible) {
  outline: 0.2rem solid var(--accent-color);
  opacity: 1;
}

.popup-btn-x {
  color: #212121;
}

.popup-btn-x:is(:hover, :focus, :focus-visible) {
  outline-color: #212121;
}

.nss-btn-abcraw a:is(:hover, :focus, :focus-visible) {
  outline: 0.24rem solid var(--accent-color);
  outline-offset: 0.4rem;
}

.nss-option-btn:is(:hover, :focus, :focus-visible) {
  outline: none;
}

.nss-switch-btn:is(:hover, :focus, :focus-visible),
.nss-btn-launch:is(:hover, :focus, :focus-visible),
.nss-link-filled:is(:hover, :focus, :focus-visible) {
  background-image: linear-gradient(to right, var(--accent-color-alt-contrast), var(--accent-color-contrast));
}

.nss-switch-container,
.nss-abclink-container,
.nss-switch-btn,
.nss-icon-container {
  border-radius: 50%;
}

.nss-switch-container,
.nss-abclink-container {
  position: absolute;
  top: 1.75rem;
}

.nss-switch-container {
  left: 1.5rem;
}

.nss-abclink-container {
  right: 1.5rem;
}

.nss-icon,
.nss-icon-container {
  width: 100%;
  height: 100%;
}

.nss-switch-icon {
  width: 2.45rem;
  height: 2.45rem;
}

.nss-switch-icon:is([data-icon="launch"]),
.nss-link-filled > * {
  width: 70%;
  height: 70%;
}

.nss-footer-icon {
  width: 2rem;
  height: 2rem;
}

.nss-footer-tunebook > .nss-btn {
  width: 2.75rem;
  height: 2.75rem;
}

.nss-launch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nss-launch-container {
  width: 20rem;
  max-width: 70svw;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.9rem;
  gap: 1rem;
}

.nss-launch-container,
.nss-btn-text {
  flex-flow: column;
}

.nss-btn-launch {
  width: 18rem;
  height: 7rem;
  flex-grow: 0;
  font-size: 1.4rem;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  display: flex;
}

.nss-btn-text .nss-icon-container > * {
  width: 2.25rem;
  height: 2.25rem;
}

.nss-btn-launch .nss-btn-text {
  gap: 0.35em;
}

.nss-select-container {
  flex-flow: row wrap;
  gap: 0.75rem;
}

.nss-select-container * {
  font-family: 'Arial', sans-serif;
}

.nss-playalong-container {
  display: flex;
  width: clamp(25%, 45rem, 80%);
  flex-flow: column wrap;
  margin-top: 3.25rem;
  margin-bottom: 2.25rem;
  gap: 2.25rem;
}

.nss-playalong-container img {
  width: 100%;
}

.nss-playalong-link-container {
  position: relative;
  width: 100%;
}

.nss-playalong-link-container a { 
  display: block;
  color: #f0f0f0;
}

.nss-playalong-link-container a:is(:hover, :active, :focus, :focus-visible) {
  outline: 0.25rem solid var(--accent-color);
  outline-offset: unset;
}

.nss-playalong-link-container a:is(:hover, :active, :focus, :focus-visible) > * {
  color: var(--accent-color);
}

.nss-playalong-link-container::after{
  content: '';
  position: absolute;
  inset: 0;
  margin: -0.25rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(90deg, var(--accent-color) 25%, var(--accent-color-alt) 100%);
  z-index: -1;
}

.nss-playalong-img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, transparent 33%);
  width: 100%;
  height: 100%;
  text-align: left;
}

.nss-playalong-img-overlay h2 {
  font-size: 2.5rem;
  margin: 0.2rem 0.52rem;
}

.nss-playalong-container img,
.nss-playalong-img-overlay {
  border-radius: 0.25rem;
}

.subtitle-wrapper {
  width: 100%;
}

.flex-wrapper:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper:not([hidden]) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link-wrapper {
  width: calc(100% - 5.5rem);
  height: 100%;
}

.nss-footer-tunebook .footer-link-wrapper {
  justify-content: space-evenly;
}

.nss-popover {
  padding: 1em;
  width: min(calc(80svw - 3.7rem), 40rem);
  height: calc(80svh - 3rem);
  border-radius: 1.5rem;
  border: 0.3rem solid var(--accent-color);
}

.nss-popover-header {
  margin-bottom: 2rem;
}

.nss-popover-header h2 {
  font-size: 2rem;
}

.nss-popover-header-title-container {
  margin: 1rem auto;
  max-width: min(calc(80svw - 3.7rem - 5rem), 35rem);
}

.nss-theme-btn,
.nss-header-x-container,
.nss-header-left-btn-container {
  position: absolute;
  top: 1rem;
}

.nss-header-left-btn-container {
  left: 1rem;
}

.nss-header-x-container {
  right: 1rem;
}

.nss-checkbox-container {
  display: flex;
  flex-flow: column;
  gap: 1.9rem;
}

.nss-checkbox-label {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
  text-align: left;
}

.nss-checkbox-label,
.nss-checkbox-btn {
  cursor: pointer;
}

input[type="checkbox"]:focus-visible {
  outline: 0.15rem solid var(--accent-color);
  outline-style: solid;
  outline-offset: 0.25rem;
  border-radius: 0.25rem;
}

.nss-checkbox-btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.12rem solid var(--accent-color);
  border-radius: 0.26rem;
  background-image: linear-gradient(90deg, var(--accent-color) 25%, var(--accent-color-alt) 100%);
  font: inherit;
  font-weight: bold;
  color: var(--gradient-color-left);
  align-items: center;
  margin-right: 0.13rem;
  margin-left: 0.8rem;
  transform: translateY(-0.12rem);
}

.nss-checkbox-btn::before {
  content:"\2714";
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.nss-checkbox-btn:checked::before {
  opacity: 1;
}

[data-popover="notification-popup"] {
  width: 100%;
  min-height: 4.5rem;
  font-size: 1.4rem;
  inset: unset;
  position: fixed;
  padding: 0 3.75rem;
  border: none;
  bottom: 0;
  left: 0;
}

[data-popover="notification-popup"]:popover-open {
  display: flex;
}

[data-popover="notification-popup"].status .popup-btn-x {
  display: none;
}

[data-popover="notification-popup"].report .popup-btn-x {
  color: var(--accent-color-alt-light);
  outline-color: var(--accent-color);
}

[data-popover="notification-popup"].success,
[data-popover="notification-popup"].warning,
[data-popover="notification-popup"].error {
  background-image: none;
  color: black;
}

[data-popover="notification-popup"].success {
  background-color: var(--notification-color-success);
}

[data-popover="notification-popup"].warning {
  background-color: var(--notification-color-warning);
}

[data-popover="notification-popup"].error {
  background-color: var(--notification-color-error);
}

/* Media queries */

/* @media screen and (max-width: 1120px) { */
@media screen and (max-width: 70em) {

  .nss-footer-tunebook .footer-link-wrapper {
    justify-content: space-around;
  }
}

/* @media screen and (max-height: 640px),
       screen and (max-width: 860px) { */
@media screen and (max-height: 40em),
       screen and (max-width: 53.75em) {

  .nss-popover {
    width: 100svw;
    height: 100svh;
    border-radius: 0;
  }

  .nss-popover-header h2 {
    font-size: 3.25rem;
  }

  .nss-popover-header-title-container {
    margin: 1.75rem auto 3rem;
    max-width: calc(100svw - 12.75rem);
  }

  .nss-checkbox-container {
    gap: 3.25rem;
  }

  .nss-checkbox-label {
    font-size: 1.75rem;
    gap: 1.75rem;
  }

  .nss-popover .nss-btn-plus,
  .nss-popover .nss-btn-x {
    font-size: 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  .nss-checkbox-btn {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/* @media screen (max-width: 800px) { */
@media screen and (max-width: 50em) {

  h1:is([data-title="launcher"])::after {
    content: "N.S.S.S.";
  }

  h1:is([data-title="playalong"])::after {
    content: "Play Along";
  }

  h1:is([data-title="encoder"])::after {
    content: "ABC Encoder";
  }
}

/* @media screen and (max-height: 720px),
          screen and (max-height: 480px) { */
@media screen and (max-height: 45em),
       screen and (max-width: 30em) {

  .nss-encoder-subhead-link {
    display: none;
  }
}

/* @media screen and (max-height: 576px) { */
@media screen and (max-height: 36em) {

  .nss-launch {
    position: unset;
    transform: unset;
  }
}

/* @media screen and (max-width: 360px) { */
@media screen and (max-width: 22.5em) {

  html {
    font-size: 75%;
  }
}

/* Supports wrappers / Container queries */

@supports selector(:popover-open) {
  html:has([popover]:popover-open) {
    overflow: hidden;
  }
}

@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .nss-gradient-text {
    background: linear-gradient(to right, var(--accent-color) 30%, var(--accent-color-alt));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@supports (background-clip: text) {
  .nss-gradient-text {
    background: linear-gradient(to right, var(--accent-color) 30%, var(--accent-color-alt));
    background-clip: text;
    color: transparent;
  }
}

@supports (container-type: inline-size) {

  .title-wrapper,
  .subtitle-wrapper,
  .nss-launch-container,
  .nss-playalong-link-container {
    container-type: inline-size;
  }

  @container (max-width: 36rem) {
    .subtitle-wrapper h2 {
      font-size: 7cqw;
    }
    .subtitle-wrapper a h2 {
      margin-top: 0.5rem;
      font-size: 5cqw;
    }
  }

  @container (max-width: 20rem) {
    .title-wrapper h1 {
      font-size: 16cqw;
    }
  }
  
  @container (max-width: 18rem) {
    .nss-btn-launch {
      width: 100%;
      height: auto;
      aspect-ratio: 18/7;
      font-size: 8cqw;
    }
    .nss-btn-text .nss-icon-container > * {
      width: auto;
      height: 12cqw;
      aspect-ratio: 1/1;
    }
  }
}