/* List Viewer Styles */

[data-list-viewer="dialog"] {
  --lvw-header-height: 6rem;
  --tiles-font-size: 1.5rem;
  --tiles-height: 7rem;
  --tiles-padding: 1.75rem;
}

[data-list-viewer="dialog"], 
[data-list-viewer="dialog"].light {
  --tiles-bg-color: white;
  --tiles-color-odd: #ccc;
  --tiles-color-even: #f0f0f0;
  --tiles-ui-color: #555;
  --tiles-font-color: black;
  --tiles-barline-color: #555;
}

[data-list-viewer="dialog"].dark {
  --tiles-bg-color: #161616;
  --tiles-color-odd: #181818;
  --tiles-color-even: #222222;
  --tiles-ui-color: #999;
  --tiles-font-color: #e0e0e0;
  --tiles-barline-color: #777;
}

@supports (selector(:has(*))) {

  body:has([data-list-viewer="dialog"].light:open) {
    background-color: white;
  }

  body:has([data-list-viewer="dialog"].dark:open) {
    background-color: #181818;
  }
}

[data-list-viewer="dialog"] {
  width: 100dvw;
  height: 100dvh;
  max-width: unset;
  max-height: unset;
  border: none;
  outline: none;
  padding: 0;
  background-image: none;
  background-color: var(--tiles-bg-color);
  color: var(--tiles-font-color);
  overflow: hidden;
}

[data-list-viewer="dialog"] * {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

[data-list-viewer="header"] {
  height: var(--lvw-header-height);
  text-align: center;
  background-color: var(--tiles-bg-color);
}

[data-list-viewer="title"] {
  width: calc(100dvw - 12rem);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

[data-list-viewer="container"] {
  width: 100svw;
  height: 100svh;
  overflow-y: hidden;
}

.btn-lvw {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  outline-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: color 0.25s ease-out;
}

[data-controls] {
  z-index: 1;
}

[data-controls="lvw-theme-btn"],
[data-controls="lvw-control-btn"],
[data-controls="lvw-btn-x"] {
  color: var(--tiles-ui-color);
  outline-color: var(--tiles-ui-color);
  border-radius: 50%;
  opacity: 0.9;
}

[data-controls="lvw-theme-btn"],
[data-list-viewer="x-container"] {
  top: 1.5rem;
}

[data-controls="lvw-theme-btn"] {
  position: absolute;
  left: 1.5rem;
}

[data-list-viewer="x-container"] {
  position: fixed;
  right: 1.65rem;
}

[data-controls="lvw-control-btn"],
[data-controls="lvw-btn-x"] {
  font-size: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
}

[data-controls="lvw-btn-x"] {
  outline-offset: 0.25rem;
}

[data-controls="lvw-btn-x"]::after {
  content: "\00d7";
  padding-bottom: 0.35rem;
}

[data-controls="lvw-control-btn"] {
  outline-offset: 0.25rem;
}

[data-controls="lvw-theme-btn"] {
  outline-offset: 0.33rem;
}

[data-controls="lvw-btn-x"]:is(:hover, :focus, :focus-visible) {
  outline: 0.2rem solid;
}

[data-controls="lvw-theme-btn"]:is(:hover, :focus, :focus-visible),
[data-controls="lvw-control-btn"]:is(:hover, :focus, :focus-visible),
[data-controls="lvw-btn-x"]:is(:hover, :focus, :focus-visible) {
  color: var(--tiles-font-color);
  outline-color: var(--tiles-font-color);
}

[data-ui="icon"] {
  width: 100%;
  height: 100%;
}

[data-ui="icon-fixed-size"] {
  width: 2.45rem;
  height: 2.45rem;
}

[data-list-viewer="dialog"].dark [data-controls="lvw-theme-btn"]:is(:hover, :focus, :focus-visible),
[data-list-viewer="dialog"].dark [data-controls="lvw-control-btn"]:is(:hover, :focus, :focus-visible),
[data-list-viewer="dialog"].dark [data-controls="lvw-btn-x"]:is(:hover, :focus, :focus-visible) {
  opacity: 1;
}

[data-list-viewer="body"] {
  width: 100%;
  height: calc(100svh - var(--lvw-header-height));
  overflow-y: auto;
  overscroll-behavior: contain;
}

[data-list-viewer="tiles-container"] {
  flex-direction: column;
  width: 100%;
  max-width: 53.75rem;
  margin: 0 auto;
}

[data-list-viewer="tune-tile"] {
  width: 100%;
  font-size: var(--tiles-font-size);
  color: var(--tiles-font-color);
  min-height: var(--tiles-height);
  padding: var(--tiles-padding);
}

[data-list-viewer="tune-tile"]:nth-of-type(odd) {
  background-color: var(--tiles-color-even);
}

[data-list-viewer="tune-tile"]:nth-of-type(even) {
  background-color: var(--tiles-color-odd);
}

[data-chord-viewer="footer"] {
  width: 100%;
  position: fixed;
  padding: 0 1.65rem 0 1.5rem;
  box-sizing: border-box;
  bottom: 1rem;
  left: 0;
}

.flex-center:not([hidden]) {
  display: flex;
  justify-content: center;
}

.flex-between:not([hidden]) {
  display: flex;
  justify-content: space-between;
}

.flex-center,
.flex-between {
  align-items: center;
}

@supports (container-type: inline-size) {
  .wrapper-container {
    container-type: inline-size;
  }
}
	
@container (max-width: 36rem) {
  .wrapper-container [data-chord-viewer="title"] {
    font-size: 4.9cqw;
  }
}